@inherits LayoutComponentBase

<main class="container">
    <h1 class="my-5 text-center">
        Azure Cosmos DB for NoSQL | .NET Quickstart
    </h1>
    @Body
    <div id="blazor-error-ui" class="collapse fixed-top rounded-0 mb-0 alert alert-danger" role="alert">
        An unhandled error has occurred.
        <a href="." class="reload">Reload</a>
        <span class="dismiss">🗙</span>
    </div>
</main>
